
		.container .controls .separation{
			color: #88FF88;
		}
		.container .controls .alignment{
			color: #FF8888;
		}
		.container .controls .cohesion{
			color: #FF88FF;
		}
		.container .controls .obstacle{
			color: #88FFFF;
		}
	