		body {
			background-color: #000;
			color: #FFF;
		}
		a:link {
    		color: #ffb266;
		}
		a:visited {
    		color: #99ccff;
		}
		.container { position: relative;}
		.container .footer {
			font-size: 11px;
		}

		.container .controls {
			position: absolute;
			top: 0;
			right: 0;
			width: 340px;
			background: #222;

			border: 1px solid white;
			padding: 20px;
			font-family: "Arial";
			font-size: 11px;
		}

		.container .summary {
			background: #222;

			border: 1px solid white;
			padding: 20px;
			font-family: "Arial";
			font-size: 11px;
		}

		.container .tooltip {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			background: #222;
			text-align: left;

			border: 1px solid white;
			padding: 20px;
			width: 240px;
			font-family: "Arial";
			font-size: 11px;
		}

		.container .menu {
			padding: 20px;
			font-family: "Arial";
			font-size: 11px;
		}

		.navlist {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding: 0;
		}

		.navlist li
		{
			display: inline;
			list-style-type: none;
			padding-right: 20px;

		}

		.icon
		{
			border: 1px solid white;
		}

		div.tooltip {
    		position: absolute;
    		text-align: center;
		}
